# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/public/sitemap.xml
/public/sitemap-*.xml
/public/robots.txt

# service worker stuff
/public/fallback-*.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/.idea/
/out/

next-env.d.ts

#assets
#/public
# production
/build
Artboard 1.png
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel
