@import "./fonts.css" layer(base);
@import "tailwindcss";

@plugin "tailwindcss-animate";


:root {
    --background: oklch(14.08% 0.0044 285.82);
    --foreground: oklch(89.45% 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(0 0 0);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(89.45% 0 0);
    --primary-foreground: oklch(14.08% 0.0044 285.82);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(28% 0.0369 259.97);
    --muted-foreground: oklch(71.07% 0.0351 256.79);
    --accent: oklch(28% 0.0369 259.97);
    --accent-foreground: oklch(98.38% 0.0035 247.86);
    --destructive: oklch(59.5% 0.228 16.52);
    --destructive-foreground: oklch(89.45% 0 0);
    --border: oklch(37.05% 0 0);
    --input: oklch(37.05% 0 0);
    --ring: oklch(86.88% 0.0198 252.85);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.5rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --dana-medium: dana-medium, Helvetica, sans-serif;
    --dana-bold: dana-bold, Helvetica, sans-serif;
    --dana-black: dana-black, Helvetica, sans-serif;
}


@theme inline {

    --color-background: var(--background);

    --color-foreground: var(--foreground);

    --color-card: var(--card);

    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);

    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);

    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);

    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);

    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);

    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);

    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);

    --color-input: var(--input);

    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);

    --color-chart-2: var(--chart-2);

    --color-chart-3: var(--chart-3);

    --color-chart-4: var(--chart-4);

    --color-chart-5: var(--chart-5);

    --radius-sm: calc(var(--radius) - 4px);

    --radius-md: calc(var(--radius) - 2px);

    --radius-lg: var(--radius);

    --radius-xl: calc(var(--radius) + 4px);

    --color-sidebar: var(--sidebar);

    --color-sidebar-foreground: var(--sidebar-foreground);

    --color-sidebar-primary: var(--sidebar-primary);

    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

    --color-sidebar-accent: var(--sidebar-accent);

    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

    --color-sidebar-border: var(--sidebar-border);

    --color-sidebar-ring: var(--sidebar-ring);

    --font-dana-medium : var(--dana-medium);
    --font-dana-bold : var(--dana-bold);
    --font-dana-black : var(--dana-black);
}

@layer base {
    *,
    *:before,
    *:after {
        @apply border-border;
    }

    video::-webkit-media-controls { 
        @apply hidden;
    } 
                         
    video::-webkit-media-controls-enclosure { 
        @apply hidden;       
    } 

    ::-webkit-scrollbar {
        @apply w-1;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-primary cursor-pointer ;
    }

    a, a:visited, a:active {
        @apply fill-foreground;
    }

    /**** hide arrows in input[type=number] ****/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none m-0;
    }

    input[type=number] {
        @apply appearance-none;
    }

    .contained {
        @apply max-w-(--breakpoint-xl) px-1 mx-auto;
    }

    ::placeholder {
        @apply text-xs md:text-sm;
    }

    button {
        @apply cursor-pointer;
    }
}
