@import "./fonts.css" layer(base);

@import "tailwindcss";

:root {

    --background: 234, 79%, 7%;
    --foreground: 0 0% 100%;

    --primary: 231, 63%, 56%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-dana-medium: dana-medium, Helvetica, sans-serif;
  --font-dana-bold: dana-bold, Helvetica, sans-serif;
  --font-dana-black: dana-black, Helvetica, sans-serif;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

}

@layer base {
    *,
    *:before,
    *:after {
        @apply border-border;
    }

    ::-webkit-scrollbar {
        @apply w-1;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-primary cursor-pointer ;
    }


    a, a:visited, a:active {
        @apply fill-foreground;
    }

    /**** hide arrows in input[type=number] ****/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none m-0;
    }

    input[type=number] {
        @apply appearance-none;
    }

    .contained {
        @apply max-w-(--breakpoint-xl) px-1 mx-auto;
    }

    ::placeholder {
        @apply text-xs md:text-sm;
    }

    button {
        @apply cursor-pointer;
    }
}
